<%- model_class = Gift -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% gifts.each do |gift| %>
      <tr>
        <td><%= gift.description %></td>
        <td><%=l gift.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
